*.swp
*.swo
*.rpm
*.pid
*.ses
.DS_Store
conf/conf.json
logs/*
reports/*
vendor/*
pact/bin
pact/log
app.docker
ads-recommender.err
ads-recommender.out
daemon.err
daemon.out
nohup.out
ads-recommender-pact
ads-recommender-pact.err
ads-recommender-pact.out
log/pact.log
/ads-recommender*
app.docker
daemon.*
log/*
nohup.*
cover.html
