*.swp
*.swo
*.rpm
*.pid
*.ses
.DS_Store
conf/conf.json
logs/*
reports/*
vendor/*
pact/bin
pact/log
app.docker
pro-carousel.err
pro-carousel.out
daemon.err
daemon.out
nohup.out
pro-carousel-pact
pro-carousel-pact.err
pro-carousel-pact.out
log/pact.log
/pro-carousel*
app.docker
daemon.*
log/*
nohup.*
cover.html
