{
	"query": {
		"function_score" : {
			"query": {
				"bool": {
					"must": [{{.Musts}}],
					"must_not": [{{.MustsNot}}],
					"should": [{{.Shoulds}}], 
					"filter": [{{.Filters}}]
				}
			},
			"{{.Name}}": {
				"{{.Field}}": {
					"origin": "{{.Origin}}",
					"offset": "{{.Offset}}",
					"scale": "{{.Scale}}"
				}
			}
		}
	}
}
