{
    "query": {
        "bool": {
            "must": [
                {
                    "match": {
                        "ListID": "{{.ListID}}"
                    }
                }
            ]
        }
    }
}