{ "script" : {
    "script" : {
      "lang": "painless",
      "source": "if(doc['price'].size() != 0) {if(doc['params.currency.value.keyword'].size() != 0) {if(doc['params.currency.value.keyword'].value == 'uf') {doc['price'].value <= params.priceMax && doc['price'].value >= params.priceMin}else {doc['price'].value / params.uf <= params.priceMax &&doc['price'].value / params.uf >= params.priceMin}}}",
      "params": {
        "priceMax": {{.PriceMax}},
        "priceMin": {{.PriceMin}},
        "uf": {{.UF}}
      }
    }
  }
}
