{ "script" : {
    "script" : {
      "lang": "painless",
      "source": "if(doc['Price'].size() != 0) {if(doc['Params.Currency.keyword'].size() != 0) {if(doc['Params.Currency.keyword'].value == 'uf') {doc['Price'].value <= params.priceMax && doc['Price'].value >= params.priceMin}else {doc['Price'].value / params.uf <= params.priceMax &&doc['Price'].value / params.uf >= params.priceMin}}}",
      "params": {
        "priceMax": {{.PriceMax}},
        "priceMin": {{.PriceMin}},
        "uf": {{.UF}}
      }
    }
  }
}
